<%
# HTML formatted email for blackmailing victims
# I know, you wanted to see haml - well one thing at a time!
%>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @victim_name %>, you've been blackmailed through blackmailr.herokuapp.com</h1>
    <p>
      We have a compromising photo of you.  If you choose not to comply to the below demands, this photo will be released for the world to see.
    </p>
    <h2>Demands</h2>
    <ul>
    <% @victim_demands.each do |demands|%>
      <li><%= demands.description %></li>
    <% end %>
    </ul>
    <p>
      <strong>You must meet these demands before time runs out!</strong>
      <strong>D-day: <%= @d_day %></strong>
    </p>
    <p>
      To meet the above demands and forestall your doom, follow this link: <%= @url %>.
    </p>
    <p>
      If you are unable to meet the given demands and you know who is blackmailing you,<br/>
      try blackmailing them instead!
    </p>
    <p>
      Remember, blackmailr is not responsible for anything.  Don't even try to sue us or we will blackmail you!
    </p>
  </body>
</html>
