<%
# HTML formatted email for welcoming new users
%>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to blackmailr.herokuapp.com, <%= @user.email %></h1>
    <p>
      You have successfully created a Blackmailr account.  Your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Thanks for joining and may your blackmails bring you joy!
    </p>
    <p>    
      Remember, blackmailr is not responsible for anything.  Don't even try to sue us or we will blackmail you!
    </p>
  </body>
</html>
