- 10.times do
  .blackmail
    .header
      .name @blackmail.victim_name
      .time @(@blackmail.expired_at)
      .title @blackmail.title
    .main
      @blackmail.images
      .description @blackmail.description
    .footer
.loading-more
  %div Loading more blackmail...
