- @expired_blackmails.each do |i|
  .blackmail
    .header
      .name #{i[:victim_name]}
      .time
        Expires in
        %span.countdown{data: {'countdown-seconds' => 5.days.from_now.to_i}}
      .title #{i[:title]}
    .main
      = image_tag 'sample.jpg'
      .description #{i[:description]}
    .footer
.loading-more
  %div Loading more blackmail...
