@import "_base";

body {
  color: #333;
  background: #333 $noise;
  font-family: 'Lucida Sans', 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, sans-serif;
  font-size: 14px;
}

#header {
  position: relative;
  margin-bottom: -25px;
  height: 110px;
  background: image-url("logo.png") left center no-repeat;
}

#wrap {
  margin: 0 auto;
  width: 700px;
}

#main {
  background: #fff $noise;
  @include single-box-shadow;
  
  h1 {
    margin: 0;
    padding: 25px;
    color: #fff;
    background: $main-color $noise;
    @include single-text-shadow;
  }
  
  a {
    color: $main-color;
    cursor: pointer;
    @include hover-link;
    
    &:active {
      color: $main-color-dark;
    }
    
  }
  
  .blackmail {
    padding: 25px 15px 0;
    
    .header {
      margin: 0 10px;
      padding: 10px;
      background: $main-color $noise;
      
      .title {
        font-size: 26px;
        line-height: 30px;
        font-weight: bold;
        color: #fff;
        @include single-text-shadow;
        @include force-wrap;
      }
      
      .name {
        float: right;
        margin-left: 10px;
        font-size: 16px;
        line-height: 18px;
        color: $main-color-light;
        @include single-text-shadow;
      }
      
      .time {
        clear: right;
        float: right;
        margin-left: 10px;
        font-size: 10px;
        line-height: 12px;
        color: $main-color-light;
      }
      
    }
    
    .main {
      position: relative;
      padding: 35px;
      background: #fff;
      @include single-box-shadow;
      
      img {
        max-width: 100%;
      }
      
      .description {
        padding-top: 10px;
        @include force-wrap;
      }
    }
    
    .footer {
      margin: 0 10px;
      height: 10px;
      background: $main-color $noise;
    }
  }
  
  .loading-more {
    padding: 25px;
    color: $main-color;
    text-align: center;
    
    > div {
      @include inline-block;
      padding-left: 20px;
      background: image-url('loading.gif') left center no-repeat;
    }
    
  }
  
}

#footer {
  padding: 10px;
  font-size: 12px;
  color: #EEE;
  text-align: center;
  @include single-text-shadow;
}
