!!!
%html
  %head
    %meta(http-equiv='x-ua-compatible' content='ie=edge; chrome=1')
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=700')
    %meta(name='format-detection' content='telephone=no')
    %title Blackmailr | Get what you want, when you want it, or else...
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #wrap
      #header
      #main= yield
      #footer Blackmailr isn't responsible for anything, so don't sue us or we'll blackmail you =]
